@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    width: 100%;
    background-color: #F9FAFB;
}
.template-cotisation header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #00334F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px 15px 20px;
}
header .logo{
    font-family: 'BBH Sans Bogle', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.logo .logo-AEST{
    height: 50px;
    width: 60px;
    overflow: hidden;
}
.logo .logo-AEST img{
    height: 50px;
    width: 60px;
    object-fit: cover;
}
.logo h1{
    color: white;
    font-size: 2.3rem;
}
.logo h1 span{
    color: rgb(218, 5, 5);
}

.navigation nav ul{
    display: flex;
    gap: 20px;
}

.navigation{
    margin-left: auto;
}
.navigation nav ul a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}
.navigation nav ul a:hover{
    color: #FBBF24;
    
}
.navigation nav ul a li{
    list-style: none;
}

header .btnPay{
    margin-left: 20px;
    transition: all 0.3s ease;
}
.btnPay a{
    text-decoration: none;
    color: #003366;
    font-weight: bold;
    padding: 8px 15px;
    font-size: 0.9rem;
    background-color: #f3c921;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.btnPay a:hover{
    background-color: #e6b91e;
}
.btnPay:hover{
    transform: scale(1.05);
}
.hamburger-menu{
    display: none;
}
.hamburger-menu .fa-bars{
    display: none;
}
.close-menu{
    display: none;
}
.close-menu .fa-xmark{
    display: none;
}


main .box{
    position: relative;
    background-color: white;
    margin: 50px 200px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.258);
    display: grid;
    grid-column: repeat(5, auto);
    gap: 20px;
    padding-bottom: 30px;
}
.box h2{
    color: #00486e;
    font-size: 1.3rem;
    text-align: center;
    padding-top: 30px;
}
.box p{
    color: #4B5563;
    font-size: 1rem;
    text-align: center;
    padding: 0 15px;
}
#se, #date{
    font-weight: bold;
}
.box .pay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.box .pay h3{
    color: #a20404;
    font-size: 1.5rem;
}
#pass{
    color: #000000;
    text-decoration: underline;
}

.pay .code{
    height: 250px;
    width: 250px;
    overflow: hidden;
}
.pay .code img{
    height: 250px;
    width: 250px;
    object-fit: cover;
}
.pay .qr-code{
    display: flex;
    align-items: center;
    justify-content: center;
}


.box .link-inscription{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
}
.box .link-inscription p{
    font-size: 0.7rem;
}
.box .link-inscription a{
    text-decoration: none;
    background-color: #014d76;
    color: white;
    font-size: 0.9rem;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.box .link-inscription a:hover{
    background-color: #013755;
    transform: scale(1.05);
}


footer{
    background: #003C4B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    padding: 30px 0;
}
#slogan-AEST{
    margin-top: 17px;
    color: #D1D5DB;
    font-size: 0.9rem;
}
footer a{
    color: #FFCC00;
}

#btnPay2{
    display: none;
}

#countdown{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
#countdown .tag{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    background-color: rgb(213, 1, 1);
    height: 70px;
    width: 80px;
    border-radius: 10px;
}
#countdown .tag span{
    color: white;
}
#countdown .tag span:nth-child(1){
    font-size: 1.4rem;
    font-weight: bold;
}
#countdown .tag span:nth-child(2){
    font-size: 0.7rem;
    font-weight: bold;
}
#countdown .end{
    background-color: rgb(218, 5, 5);
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}

@media (max-width: 768px) {
    .hamburger-menu{
        display: flex;
        align-items: center;
    }
    .hamburger-menu .fa-bars{
        display: flex;
        color: white;
        font-size: 2rem;
    }
    .close-menu .fa-xmark{
        display: flex;
        color: white;
        font-size: 2rem;
    }
    .template-cotisation header{
        padding: 20px 10px 20px 10px;
    }
    header .logo h1{
        font-size: 1.6rem;
    }
    .logo .logo-AEST{
        height: 42px;
        width: 50px;
        overflow: hidden;
    }
    .logo .logo-AEST img{
        height: 42px;
        width: 50px;
        object-fit: cover;
    }
    .navigation{
        position: fixed;
        top: 0;
        right: 0;
        background-color: #3333338f;
        height: 100vh;
        width: 100%;
        transform: translate(-1200px);
        transition: all 0.3s ease;
    }
    .navigation nav{
        position: absolute;
        top: 0;
        left: 0;
        background-color: #00334F;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 300px;
        align-items: center;
    }
    .navigation nav .close-menu i{
        font-size: 2.3rem;
        color: gainsboro;
    }
    .navigation nav .close-menu{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 70px;
    }
    .navigation nav ul{
        flex-direction: column;
        width: 100%;
        gap: 10px;
        border-top: solid 1px gray;
        padding: 0 5px;
        padding-top: 20px;
    }
    .navigation nav ul a{
        font-size: 1.4rem;
        background-color: #004c75;
        padding: 10px 40px;
        border-radius: 5px;
    }
    header .btnPay{
        display: none;
    }

    footer{
        font-size: 0.8rem;
        padding: 20px;
        text-align: center;
    }
    footer p:nth-child(1){
        line-height: 1.4;
    }
    #slogan-AEST{
        font-size: 0.77rem;
    }
    header .btnPay{
        display: none;
    }


    main .box{
        margin: 40px 20px;
        border-radius: 15px;
    }
    .box p{
        padding: 0 20px;
    }
    .pay .code{
        height: 160px;
        width: 160px;
        overflow: hidden;
    }
    .pay .code img{
        height: 160px;
        width: 160px;
        object-fit: cover;
    }

    .box h2{
        padding-right: 10px;
        padding-left: 10px;
        font-size: 1.2rem;
    }

    #btnPay2{
        display: flex;
        margin-top: 20px;
    }
    #btnPay2 a{
        color: #003366;
        text-decoration: none;
        background-color: #FBBF24;
        font-size: 1.1rem;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 7px;
        transition: all 0.3s ease;
    }
    #btnPay2 a:hover{
        background-color: #f8c84f;
        transform: scale(1.05);
    }

    #countdown .tag{
        height: 60px;
        width: 65px;
        gap: 1px;
    }
    #countdown .tag span:nth-child(1){
        font-size: 1.4rem;
    }
    #countdown .tag span:nth-child(2){
        font-size: 0.6rem;
        font-weight: bold;
    }
}
